* {
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
	width: 1em;
}
::-webkit-scrollbar-track {
	background: black;
}
::-webkit-scrollbar-thumb {
	background: white;
}
::-webkit-scrollbar-thumb:hover {
	background: #ececec;
}
body {
	font-family: 'Montserrat', sans-serif;
	background-color: black;
	color: white;
}
.scroll {
	overflow-y: scroll;
	height: 100vh;
	scroll-snap-type: y mandatory;
}
section {
	scroll-snap-align: start;
	display: flex;
	height: 100vh;
	text-align: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
section h1 {
	margin-bottom: 1em;
	font-size: 3em;
}
section h1 button {
	all: unset;
}
section h1 button:focus {
	all: unset;
	border-bottom: .1em solid white;
}
section button {
	font-size: 1.5em;
	margin-bottom: 1.5em;
	background-color: white;
	padding: .5em;
	padding-left: 10%;
}
section button:focus {
	font-size: 2em;
	margin-bottom: 1.5em;
	background-color: #FF6600;
	color: black;
	padding-left: 13%;
}
section span {
	opacity: 0;
}
section:last-of-type {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2em;
	margin: 2em;
}
section:last-of-type h1 {
	grid-column: 1 / 4;
}
section:last-of-type button {
	background-color: white;
	color: black;
	padding: 2.5em;
	font-size: 1.5em;
	text-decoration: none;
}
section:last-of-type button {
	background-color: white;
	color: black;
	padding: 1.5em;
	font-size: 1.5em;
	text-decoration: none;
}
section:last-of-type button:focus {
	font-size: 2em;
	margin-bottom: 1em;
	background-color: #FF6600;
	color: black;
}
section:last-of-type h1 button {
	all: unset;
}
section:last-of-type h1 button:focus {
	all: unset;
	border-bottom: .1em solid white;
}