* {
	margin: 0;
	padding: 0;
	transition: .2s;
}
::-webkit-scrollbar {
	display: none;
}
body {
	font-family: 'Montserrat', sans-serif;
	background-color: black;
	color: white;
}
.scroll {
	overflow-y: scroll;
	height: 100vh;
	scroll-snap-type: y mandatory;
}
section {
	display: none;
	opacity: 0;
	animation: appear 1s .4s both;
}
@keyframes appear {
	0% {
		transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
		opacity: 0;
	}
	100% {
		transform: rotateY(0deg) translateY(0) skewY(0deg);
		opacity: 1;
	}
}
section:target {
	scroll-snap-align: start;
	display: flex;
	height: 100vh;
	text-align: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
section h1 {
	margin-bottom: 1em;
	font-size: 3em;
}
section h1 button {
	all: unset;
}
section h1 button:focus {
	all: unset;
	border-bottom: .1em solid #FF6600;
}
section a {
	font-size: 1.5em;
	margin-bottom: 1.5em;
	background-color: white;
	padding: .5em;
	text-decoration: none;
	color: black;
	font-weight: bold;
}
section a:not(.back, .back2):focus {
	font-size: 2em;
	margin-bottom: 1.5em;
	background-color: #FF6600;
	color: white;
}
section span {
	opacity: 0;
}
section:first-of-type {
	display: none;
}
section:first-of-type:target {
	display: grid;
	grid-template-columns: 20em 20em 20em;
	gap: 1.5em;
	margin: 2em;
	height: 40vh;
	padding-top: 10vh;
}
section:first-of-type h1 {
	grid-column: 1 / 4;
}
section:first-of-type a:not(.back, .back2) {
	background-color: white;
	color: black;
	padding: 2.5em;
	font-size: 1.4em;
	text-decoration: none;
}
section:first-of-type a h2 {
	margin-bottom: .5em;
}
section:first-of-type a:not(.back, .back2):focus {
	font-size: 1.5em;
	background-color: #FF6600;
	color: white;
}
section:first-of-type .back2 {
	bottom: -18.8em;
	right: 0;
}
section:first-of-type .back {
	top: 0em;
	left: 0em;
}
section:first-of-type h1 button {
	all: unset;
}
section:first-of-type h1 button:focus {
	all: unset;
	border-bottom: .1em solid #FF6600;
}
section input {
	font-size: 2em;
	padding: .3em;
}
section input:focus {
	background-color: #FF6600;
}
section:nth-of-type(2) button {
	background-color: white;
	color: black;
	padding: 2em;
	font-size: 1.5em;
	text-decoration: none;
}
section:nth-of-type(2) button:focus {
	border: .5em solid #FF6600;
}
.back, .back2 {
	background-color: white;
	color: black;
	padding: 1em;
	font-size: 1.3em;
	text-decoration: none;
	position: absolute;
}
.back {
	top: 1em;
	left: 1em;
}
.back2 {
	bottom: 0;
	right: 1em;
}
.back:focus, .back2:focus {
	border: .5em solid #FF6600 !important;
}
section:nth-of-type(2) h1 button {
	all: unset;
}
section:nth-of-type(2) h1 button:focus {
	all: unset;
	border-bottom: .1em solid #FF6600;
}
section:nth-of-type(2) button h2 {
	margin-bottom: .5em;
}
section:nth-of-type(2) p {
	padding: .8em;
	text-align: left;
}
section input {
	text-align: center;
	margin: 1em 0 .2em 0;
}
section:nth-of-type(3) a:not(.back, .back2) {
	padding-left: 5em;
	padding-right: 5em;
	margin-top: 2em;
}